/*Setting the defaults*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
/*==============Navigation==================*/

/*==============Section 1==================*/

/*==============Section 2==================*/

/*==============Section 3==================*/

/*==============Section 4==================*/

/*==============Section 5==================*/

/*==============Section 6==================*/

/*==============Footer==================*/
