/*Setting the defaults*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Maven Pro", sans-serif;
  background-color: #d0f0c0;
}
body a {
  text-decoration: none;
}

/*==============Head==================*/
#head {
  height: 270px;
  width: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}
#head_1 {
  height: 30%;
  width: 100%;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#head_1_1 {
  height: 100%;
  width: 33%;
  border-right-color: black;
  border-right-width: 1px;
  border-right-style: solid;
  float: left;
  padding: 0 auto;
  text-align: center;
}

#head_1_2 {
  height: 100%;
  width: fit-content;
  border-left-color: black;
  border-left-width: 1px;
  border-left-style: solid;
  float: right;
  letter-spacing: 2em;
  padding-left: 3%;
  padding-right: 3%;
}
#head em,
strong {
  font-weight: 800;
  color: seagreen;
}
#head h1 {
  color: seagreen;
  font-size: 250%;
}
#h_par2 {
  font-size: 130%;
}
#h_par3 {
  font-size: 90%;
  font-weight: 400;
}
#h_par3 strong {
  font-weight: 800;
  font-size: 120%;
}
/*==============Navigation==================*/
#navigation {
  height: 400px;
  width: 100%;
  margin-top: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: fit-content;
  text-align: center;
}
.nav {
  letter-spacing: 0.3em;
  text-align: center;
  padding-left: 4px;
}
.nav_img {
  width: 16%;
  border-radius: 5px;
  padding-top: 4px;
}
/*==============Class sect==================*/
.sect {
  height: 1000px;
  width: 100%;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.sect h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 5vh;
}
/*==============Section 1==================*/

/*==============Section 2==================*/

/*==============Section 3==================*/

/*==============Section 4==================*/

/*==============Section 5==================*/

/*==============Section 6==================*/

/*==============Footer==================*/
#footer {
  height: fit-content;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}
#foot_logo {
  width: 25%;
  height: 100%;
  text-align: center;
}
#foot_logo1 {
  width: 90%;
  height: 60%;
}
#foot_logo {
  font-size: 150%;
  text-align: center;
}
#foot_part {
  height: 100%;
  width: 50%;
}
#foot_part h2 {
  text-align: center;
  font-size: 250%;
}
#foot_info {
  height: 100%;
  width: 25%;
  line-height: 500%;
  text-align: center;
}
#foot_info ul {
  list-style: none;
}
#foot_info button {
  height: 60px;
  width: 60%;
  background-color: seagreen;
  border-radius: 10px;
}
#foot_info a {
  color: white;
  background-color: seagreen;
  font-size: 150%;
  font-weight: 800;
}
